<p id="notice"><%= notice %></p>

<h1>Incident Proofs</h1>

<table>
  <thead>
    <tr>
      <th>Incident</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_proofs.each do |incident_proof| %>
      <tr>
        <td><%= incident_proof.incident_id %></td>
        <td><%= incident_proof.avatar %></td>
        <td><%= link_to 'Show', incident_proof %></td>
        <td><%= link_to 'Edit', edit_incident_proof_path(incident_proof) %></td>
        <td><%= link_to 'Destroy', incident_proof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident Proof', new_incident_proof_path %>
